<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="components__wrapper">
            <div class="components__wrapper_tagline">
                <p class="tagline1">Create It</p>
                <p class="tagline2">Write It</p>
                <p class="tagline3">Do IT</p>
            </div>
            <div class="components__wrapper_signUp">
                <form class="components__wrapper_signUp-form">
                    <h1 class="components__wrapper_signUp-title">Sign Up</h1>
                    <div>
                        <label for="name">Name:</label>
                        <input type="text" id="name">
                    </div>
                    <div>
                        <label for="surname">Surname:</label>
                        <input type="text" id="surname">
                    </div>
                    <div>
                        <label for="birth">BirthDate:</label>
                        <input type="date" id="birth">
                    </div>
                    <div>
                        <input type="radio" id="man" name="gender">
                        <label for="man">Man</label>
                    </div>
                    <div>
                        <input type="radio" id="woman" name="gender">
                        <label for="woman">Woman</label>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email">
                    </div>
                    <div>
                        <label for="password1">Password:</label>
                        <input type="password" id="password1">
                    </div>
                    <div>
                        <label for="password2" >Repeat password:</label>
                        <input type="password" id="password2">
                    </div>
                    <button type="submit">Registration</button>
              </form>
              <a href="/sign-in.html">Sign-in</a>
            </div>
        </div>
    </body>
</html>
